/******************************************************
*                                                     *
*   Async reCAPTCHA - jQuery Plugin                   *
*                                                     *
*   Purpose: This project contains a simple and       *
*            full configurable jQuery plugin which    *
*            asynchronously loads one or multiple     *
*            Google reCAPTCHA v2 instances located    *
*            on a page. The load is triggered when    *
*            the reCAPTCHA is scrolled into viewport. *
*                                                     *
*   Author: Andreas Kar (thex) <andreas.kar@gmx.at>   *
*   Repository: https://git.io/JvyqU                  *
*                                                     *
******************************************************/

$primary: #000 !default;
$background: #fff !default;

/* apply styling on reCAPTCHA container to make it working with spinner */
.g-recaptcha {
  min-height: 78px;
  position: relative;
  z-index: 2;
}

/* Spinner container with same size as reCAPTCHA */
.async-recaptcha-spinner-ctn {
  min-height: 78px;
  display: inline-block;
  position: absolute;
  min-width: 304px;
}

.async-recaptcha-spinner {

  /* Default styles for centering spinner and built-in spinner */
  position: absolute !important;
  margin: auto !important;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  /* credits @ https://www.w3schools.com/howto/howto_css_loader.asp */
  &.simple-spinner {
    border: 0.25em solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.25em solid $primary;
    width: 2rem;
    height: 2rem;
    -webkit-animation: simple-spin 0.75s linear infinite; /* Safari */
    animation: simple-spin 0.75s linear infinite;
  }

  /* CSS-Loader CSS spinner, credits @ https://github.com/lukehaas/css-loaders */

  /* load1 */
  &.load1 {

    &.loader,
    &.loader:before,
    &.loader:after {
      background:$primary;
      -webkit-animation:load1 1s infinite ease-in-out;
      animation:load1 1s infinite ease-in-out;
      width:1em;
      height:4em;
    }

    &.loader {
      color:$primary;
      text-indent:-9999em;
      margin:88px auto;
      position:relative;
      font-size:11px;
      -webkit-transform: translateZ(0) scale(0.4);
      -ms-transform: translateZ(0) scale(0.4);
      transform: translateZ(0) scale(0.4);
      -webkit-animation-delay:-0.16s;
      animation-delay:-0.16s;

      &:before,
      &:after {
        position:absolute;
        top:0;
        content:'';
      }

      &:before {
        left:-1.5em;
        -webkit-animation-delay:-0.32s;
        animation-delay:-0.32s;
      }

      &:after {
        left:1.5em;
      }
    }
  }

  /* load2 */
  &.load2 {

    &.loader,
    &.loader:before,
    &.loader:after {
      border-radius:50%;
    }

    &.loader {
      color:$primary;
      font-size:11px;
      text-indent:-99999em;
      margin:55px auto;
      position:relative;
      width:10em;
      height:10em;
      box-shadow: inset 0 0 0 1em;
      -webkit-transform: translateZ(0) scale(0.3);
      -ms-transform: translateZ(0) scale(0.3);
      transform: translateZ(0) scale(0.3);

      &:before,
      &:after {
        position:absolute;
        content:'';
      }

      &:before {
        width:5.2em;
        height:10.2em;
        background: $background;
        border-radius: 10.2em 0 0 10.2em;
        top:-0.1em;
        left:-0.1em;
        -webkit-transform-origin:5.1em 5.1em;
        transform-origin:5.1em 5.1em;
        -webkit-animation:load2 2s infinite ease 1.5s;
        animation:load2 2s infinite ease 1.5s;
      }

      &:after {
        width:5.2em;
        height:10.2em;
        background: $background;
        border-radius: 0 10.2em 10.2em 0;
        top:-0.1em;
        left:4.9em;
        -webkit-transform-origin:0.1em 5.1em;
        transform-origin:0.1em 5.1em;
        -webkit-animation:load2 2s infinite ease;
        animation:load2 2s infinite ease;
      }
    }
  }

  /* load3 */
  &.load3 {

    &.loader {
      font-size:10px;
      margin:50px auto;
      text-indent:-9999em;
      width:3.3em;
      height:3.3em;
      border-radius:50%;
      background: $primary;
      background: -moz-linear-gradient(left,  rgba($primary,1) 10%, rgba($primary,0) 42%);
      background: -webkit-linear-gradient(left,  rgba($primary,1) 10%,rgba($primary,0) 42%);
      background: -o-linear-gradient(left,  rgba($primary,1) 10%,rgba($primary,0) 42%);
      background: -ms-linear-gradient(left,  rgba($primary,1) 10%,rgba($primary,0) 42%);
      background: linear-gradient(to right,  rgba($primary,1) 10%,rgba($primary,0) 42%);
      position: relative;
      -webkit-animation:load3 1.4s infinite linear;
      animation:load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);

      &:before {
        width:50%;
        height:50%;
        background: $primary;
        border-radius: 100% 0 0 0;
        position:absolute;
        top:0;
        left:0;
        content:'';
      }

      &:after {
        background:$background;
        width:75%;
        height:75%;
        border-radius:50%;
        content:'';
        margin:auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }
  }

  /* load4 */
  &.load4 {

    &.loader {
      color:$primary;
      font-size:6px;
      margin:100px auto;
      width:0.625em;
      height:0.625em;
      border-radius:50%;
      position:relative;
      text-indent:-9999em;
      -webkit-animation:load4 1.3s infinite linear;
      animation:load4 1.3s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
  }

  /* load5 */
  &.load5 {

    &.loader {
      margin:100px auto;
      font-size:7px;
      width:0.625em;
      height:0.625em;
      border-radius:50%;
      position:relative;
      text-indent:-9999em;
      -webkit-animation:load5 1.1s infinite ease;
      animation:load5 1.1s infinite ease;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
  }

  /* load6 */
  &.load6 {

    &.loader {
      color:$primary;
      font-size:26px;
      text-indent:-9999em;
      overflow: hidden;
      width:1em;
      height:1em;
      border-radius:50%;
      margin:72px auto;
      position:relative;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation:load6 1.7s infinite ease;
      animation:load6 1.7s infinite ease;
    }
  }

  /* load7 */
  &.load7 {

    &.loader,
    &.loader:before,
    &.loader:after {
      border-radius:50%;
      width:2.5em;
      height:2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation:load7 1.8s infinite ease-in-out;
      animation:load7 1.8s infinite ease-in-out;
    }

    &.loader {
      color:$primary;
      font-size:3px;
      margin:80px auto;
      position:relative;
      text-indent:-9999em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay:-0.16s;
      animation-delay:-0.16s;

      &:before,
      &:after {
        content:'';
        position:absolute;
        top:0;
      }

      &:before {
        left:-3.5em;
        -webkit-animation-delay:-0.32s;
        animation-delay:-0.32s;
      }

      &:after {
        left:3.5em;
      }
    }
  }

  /* load8 */
  &.load8 {

    &.loader,
    &.loader:after {
      border-radius:50%;
      width:10em;
      height:10em;
    }

    &.loader {
      margin:60px auto;
      font-size:3px;
      position:relative;
      text-indent:-9999em;
      border-top:1.1em solid rgba($primary,0.2);
      border-right:1.1em solid rgba($primary,0.2);
      border-bottom:1.1em solid rgba($primary,0.2);
      border-left:1.1em solid rgba($primary,1);
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation:load8 1.1s infinite linear;
      animation:load8 1.1s infinite linear;
    }
  }
}

/* Safari */
@-webkit-keyframes simple-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes simple-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* CSS-Loader CSS spinner animations */

/* load1 */
@mixin load1-frames {
  0%,
  80%,
  100% {
    box-shadow:0 0;
    height:4em;
  }

  40% {
    box-shadow:0 -2em;
    height:5em;
  }
}

@-webkit-keyframes load1 {@include load1-frames;}
@keyframes load1 {@include load1-frames;}

/* load2 */
@mixin load2-frames() {

  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }

  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@-webkit-keyframes load2 {@include load2-frames;}
@keyframes load2 {@include load2-frames;}

/* load3 */
@mixin load3-frames() {

  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }

  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@-webkit-keyframes load3 {@include load3-frames;}
@keyframes load3 {@include load3-frames;}

/* load4 */
@mixin load4-frames() {

  0%,
  100% {
    box-shadow:0 -3em 0 0.2em,
    2em -2em 0 0em,
    3em 0 0 -1em,
    2em 2em 0 -1em,
    0 3em 0 -1em,
    -2em 2em 0 -1em,
    -3em 0 0 -1em,
    -2em -2em 0 0;
  }

  12.5% {
    box-shadow:0 -3em 0 0,
    2em -2em 0 0.2em,
    3em 0 0 0,
    2em 2em 0 -1em,
    0 3em 0 -1em,
    -2em 2em 0 -1em,
    -3em 0 0 -1em,
    -2em -2em 0 -1em;
  }

  25% {
    box-shadow:0 -3em 0 -0.5em,
    2em -2em 0 0,
    3em 0 0 0.2em,
    2em 2em 0 0,
    0 3em 0 -1em,
    -2em 2em 0 -1em,
    -3em 0 0 -1em,
    -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow:0 -3em 0 -1em,
    2em -2em 0 -1em,
    3em 0em 0 0,
    2em 2em 0 0.2em,
    0 3em 0 0em,
    -2em 2em 0 -1em,
    -3em 0em 0 -1em,
    -2em -2em 0 -1em;
  }

  50% {
    box-shadow:0 -3em 0 -1em,
    2em -2em 0 -1em,
    3em 0 0 -1em,
    2em 2em 0 0em,
    0 3em 0 0.2em,
    -2em 2em 0 0,
    -3em 0em 0 -1em,
    -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow:0 -3em 0 -1em,
    2em -2em 0 -1em,
    3em 0 0 -1em,
    2em 2em 0 -1em,
    0 3em 0 0,
    -2em 2em 0 0.2em,
    -3em 0 0 0,
    -2em -2em 0 -1em;
  }

  75% {
    box-shadow:0em -3em 0 -1em,
    2em -2em 0 -1em,
    3em 0em 0 -1em,
    2em 2em 0 -1em,
    0 3em 0 -1em,
    -2em 2em 0 0,
    -3em 0em 0 0.2em,
    -2em -2em 0 0;
  }

  87.5% {
    box-shadow:0em -3em 0 0,
    2em -2em 0 -1em,
    3em 0 0 -1em,
    2em 2em 0 -1em,
    0 3em 0 -1em,
    -2em 2em 0 0,
    -3em 0em 0 0,
    -2em -2em 0 0.2em;
  }
}

@-webkit-keyframes load4 {@include load4-frames;}
@keyframes load4 {@include load4-frames;}

/* load5 */
@mixin load5-frames() {

  0%,
  100% {
  box-shadow:0em -2.6em 0em 0em rgba($primary,1),
    1.8em -1.8em 0 0em rgba($primary,0.2),
    2.5em 0em 0 0em rgba($primary,0.2),
    1.75em 1.75em 0 0em rgba($primary,0.2),
    0em 2.5em 0 0em rgba($primary,0.2),
    -1.8em 1.8em 0 0em rgba($primary,0.2),
    -2.6em 0em 0 0em rgba($primary,0.5),
    -1.8em -1.8em 0 0em rgba($primary,0.7);
  }

  12.5% {
    box-shadow:0em -2.6em 0em 0em rgba($primary,0.7),
    1.8em -1.8em 0 0em rgba($primary,1),
    2.5em 0em 0 0em rgba($primary,0.2),
    1.75em 1.75em 0 0em rgba($primary,0.2),
    0em 2.5em 0 0em rgba($primary,0.2),
    -1.8em 1.8em 0 0em rgba($primary,0.2),
    -2.6em 0em 0 0em rgba($primary,0.2),
    -1.8em -1.8em 0 0em rgba($primary,0.5);
  }

  25% {
    box-shadow:0em -2.6em 0em 0em rgba($primary,0.5),
    1.8em -1.8em 0 0em rgba($primary,0.7),
    2.5em 0em 0 0em rgba($primary,1),
    1.75em 1.75em 0 0em rgba($primary,0.2),
    0em 2.5em 0 0em rgba($primary,0.2),
    -1.8em 1.8em 0 0em rgba($primary,0.2),
    -2.6em 0em 0 0em rgba($primary,0.2),
    -1.8em -1.8em 0 0em rgba($primary,0.2);
  }

  37.5% {
    box-shadow:0em -2.6em 0em 0em rgba($primary,0.2),
    1.8em -1.8em 0 0em rgba($primary,0.5),
    2.5em 0em 0 0em rgba($primary,0.7),
    1.75em 1.75em 0 0em rgba($primary,1),
    0em 2.5em 0 0em rgba($primary,0.2),
    -1.8em 1.8em 0 0em rgba($primary,0.2),
    -2.6em 0em 0 0em rgba($primary,0.2),
    -1.8em -1.8em 0 0em rgba($primary,0.2);
  }

  50% {
  box-shadow:0em -2.6em 0em 0em rgba($primary,0.2),
    1.8em -1.8em 0 0em rgba($primary,0.2),
    2.5em 0em 0 0em rgba($primary,0.5),
    1.75em 1.75em 0 0em rgba($primary,0.7),
    0em 2.5em 0 0em rgba($primary,1),
    -1.8em 1.8em 0 0em rgba($primary,0.2),
    -2.6em 0em 0 0em rgba($primary,0.2),
    -1.8em -1.8em 0 0em rgba($primary,0.2);
  }

  62.5% {
    box-shadow:0em -2.6em 0em 0em rgba($primary,0.2),
    1.8em -1.8em 0 0em rgba($primary,0.2),
    2.5em 0em 0 0em rgba($primary,0.2),
    1.75em 1.75em 0 0em rgba($primary,0.5),
    0em 2.5em 0 0em rgba($primary,0.7),
    -1.8em 1.8em 0 0em rgba($primary,1),
    -2.6em 0em 0 0em rgba($primary,0.2),
    -1.8em -1.8em 0 0em rgba($primary,0.2);
  }

  75% {
    box-shadow:0em -2.6em 0em 0em rgba($primary,0.2),
    1.8em -1.8em 0 0em rgba($primary,0.2),
    2.5em 0em 0 0em rgba($primary,0.2),
    1.75em 1.75em 0 0em rgba($primary,0.2),
    0em 2.5em 0 0em rgba($primary,0.5),
    -1.8em 1.8em 0 0em rgba($primary,0.7),
    -2.6em 0em 0 0em rgba($primary,1),
    -1.8em -1.8em 0 0em rgba($primary,0.2);
  }

  87.5% {
    box-shadow:0em -2.6em 0em 0em rgba($primary,0.2),
    1.8em -1.8em 0 0em rgba($primary,0.2),
    2.5em 0em 0 0em rgba($primary,0.2),
    1.75em 1.75em 0 0em rgba($primary,0.2),
    0em 2.5em 0 0em rgba($primary,0.2),
    -1.8em 1.8em 0 0em rgba($primary,0.5),
    -2.6em 0em 0 0em rgba($primary,0.7),
    -1.8em -1.8em 0 0em rgba($primary,1);
  }
}

@-webkit-keyframes load5 {@include load5-frames;}
@keyframes load5 {@include load5-frames;}

/* load6 */
@mixin load6-frames() {

  0% {
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  box-shadow:
  0 -0.83em 0 -0.4em,
  0 -0.83em 0 -0.42em,
  0 -0.83em 0 -0.44em,
  0 -0.83em 0 -0.46em,
  0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow:
    0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em,
    0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em,
    0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow:
    0 -0.83em 0 -0.4em,
    -0.087em -0.825em 0 -0.42em,
    -0.173em -0.812em 0 -0.44em,
    -0.256em -0.789em 0 -0.46em,
    -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow:
    0 -0.83em 0 -0.4em,
    -0.338em -0.758em 0 -0.42em,
    -0.555em -0.617em 0 -0.44em,
    -0.671em -0.488em 0 -0.46em,
    -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow:
    0 -0.83em 0 -0.4em,
    -0.377em -0.74em 0 -0.42em,
    -0.645em -0.522em 0 -0.44em,
    -0.775em -0.297em 0 -0.46em,
    -0.82em -0.09em 0 -0.477em;
  }

  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
    box-shadow:
    0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em,
    0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em,
    0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes load6 {@include load6-frames;}
@keyframes load6 {@include load6-frames;}

/* load7 */
@mixin load7-frames() {

  0%,
  80%,
  100% {
    box-shadow:0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow:0 2.5em 0 0;
  }
}

@-webkit-keyframes load7 {@include load7-frames;}
@keyframes load7 {@include load7-frames;}

/* load8 */
@mixin load8-frames() {

  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }

  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@-webkit-keyframes load8 {@include load8-frames;}
@keyframes load8 {@include load8-frames;}